html{
    
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;
}

.masthead{
color: #f3f6f5;
background-color: #066051;
text-align: center;
font-size: 1.5rem;
padding:1rem 0;
margin-bottom:1.5rem;
}

.container{
width: 100%;
max-width: 45em;
padding-left: 1.5rem;
padding-right: 1.5rem;
margin: 0 auto;
}

.container-text{
    width: 100%;
    max-width: 40em;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6,
p,
ul,
ol{
    margin: 0 0 1.5rem;
}

h1 {
    font-size: 1.802rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #066051;
    text-align: center;
}

h2 {
    font-size: 1.602rem;
    text-transform: uppercase;
    font-weight: normal;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.125rem;
    color: #066051;
    border-bottom: 1px solid #ccc;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

small {
    font-size: 0.889rem;
}

.masthead a{
    color: #f3f6f5;
    text-decoration: none;
}

a{
    color: #066051;
}

a:hover,
a:focus{
    color:  #09a38c;;
}