/* ----------------- Forms ----------------- */
form {
    max-width: 35rem;
    min-width: 20em;
    margin: 0 auto;
    padding: 1.4rem;
    border-radius: .5rem;
    background-color: #fff;
    border: 1px solid #ddd;
    display: grid;
    gap:1.38rem;

    h1{
        text-transform: none;
        text-align: left;
        margin: 0;
    } 

    p{
        margin: 0;
        font-size: 0.82rem;
    }
}

.screen-reader-text{
    position: absolute;
    clip-path: polygon(0 0, 0.1% 0, 0.1% 0.1%, 0.1% 0);
}

input{
    border: 1px solid #ddd;
    border-radius: 1.5rem;
    padding: 0.75rem;
    font-size: 1rem;
    width:100%;
}

[type="checkbox"] + label{
    position: absolute; 
    top: -0.09rem;
    font-size: 0.833rem;
    display: block;
    padding-left: 2.3rem;
} 

.checkbox-grid{
    position: relative;
    padding-bottom: 0.65rem;
}

[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
} 

@media only screen and (min-width:25em){
    [type="checkbox"] + label{
        top: 0.3rem;
        display: inline;
        padding-left: 0.2rem;
    }
}

@media only screen and (min-width:45em){
    
    form{
        grid-template-columns: repeat(2, 1fr);
        
        h1,
        div:not(.first-name):not(.last-name){
            grid-column: 1/-1;
        }
    }
    
}

