/* ----------------- Type hierarchy ----------------- */
html{
    font-family: var(--font-primary);
    line-height: 1.5;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6,
p,
ul,
ol{
    margin: 0 0 1.5rem;
}

h1 {
    font-size: 1.802rem;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--color-primary);
    text-align: center;
}

h2 {
    font-size: 1.602rem;
    text-transform: uppercase;
    font-weight: normal;
}

h3 {
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
    text-transform: uppercase;
}

h5 {
    font-size: 1.125rem;
    color: var(--color-primary);
    border-bottom: 1px solid #ccc;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
}

small {
    font-size: 0.889rem;
}

@media only screen and (min-width: 45em){

    /* ---------- Tablet ---------- */

    h1{
    font-size: 2.488rem;
    }

    h2{
        font-size: 2.074rem;
    }

    h3{
        font-size: 1.728rem;
    }

    h4{
        font-size: 1.44rem;
    }

    h5{
        font-size: 1.2rem;
    }

    small{
        font-size: 0.833rem;}

}

@media only screen and (min-width: 60em){  

    /* ---------- Desktop ---------- */

    h1{
        font-size: 3.052rem;
    }

    h2{
        font-size: 2.441rem;
    }

    h3{
        font-size: 1.953rem;
    }

    h4{
        font-size: 1.563rem;
    }

    h5{
        font-size: 1.25rem;
    }

    small{
        font-size: 0.8rem;
    }

}